@import "./minxin";
@import "./listNav";
@import "./index";
@import "./recipe";
@import "./restaurant";
@import "./result";
@import "./list";

body,
html {
  padding: 0;
  margin: 0;
  background: whitesmoke !important;
}
